.card {    
    
    /*Location*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 40px;
    
    /*Size*/
    height: 150;
    width: 150;
    
    /*Sytle*/
    font-size: 40;
}

.disabledBoard {
    pointer-events: none;   
    opacity: 0.8;
}